 .button{
    display: block;
    text-align: center;
    font-weight: bold;
    color:#fff;
    text-decoration: none;
    background-color: #429000;
    padding:10px 5px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 5px solid #429000;
    box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.15);
  }
  
  .button:active{
    position: relative;
    top:3px;
    left:2px;
    box-shadow: 0px 0px;
  }
  
  .button:hover{
    background-color: #fff;
    color:#429000;
    font-weight: bold;
  }
  
  .button2{
    display: block;
    text-align: center;
    font-weight: bold;
    color:#fff;
    text-decoration: none;
    background-color: #0675B8;
    padding:10px 5px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 5px solid #0675B8;
    box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.15);
  transition: all 0.15s ease 0s;
  }
  
  .button2:active{
    position: relative;
    top:3px;
    left:2px;
    box-shadow: 0px 0px;
  }
  
  .button2:hover{
    background-color: #fff;
    color:#0675B8;
    font-weight: bold;
  }